* {
    font-family: "Playfair Display", system-ui;
    font-optical-sizing: auto;
  }

  html, body {
    height: 100%;
    margin: 0;
  }

  body {
      display: flex;
      flex-direction: column;
  }

  .btn-dark 
  {
    background-color: #000 !important;
    color: #fff !important;
  }

  #main {
      flex: 1;
  }


  .navbar-brand img 
  {
    height: 92px;
    width: auto;
  }

  .navbar-nav 
  {
    flex-direction: row; 
    justify-content: center;
    width: 100%; 
  }

  .navbar-nav .nav-link 
  {
    color: #000 !important; 
    font-size: 17px;
  }

  .navbar-toggler 
  {
    border: 0 !important;
  }

  .collapse .ms-auto 
  {
    max-width: 250px;
    width: 350px;
  }

  .line-input 
  {
    border: none !important; 
    border-bottom: 1px solid #adadad !important; 
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 0.375rem 0 !important; 
  }

  .line-input:focus 
  {
    outline: none !important; 
    box-shadow: none !important; 
  }

  .btn-dark
  {
    border-radius: unset !important;
  }

  .full-height
  {
    height: 100vh;
  }

  .home-heading
  {
    font-size: 65px;
  }

  .title-one 
  {
    color: rgb(0 88 0);
    font-weight: 500;
    font-size: 95px !important;
  }

  .title-two
  {
    color: #000;
    font-weight: 200;
    font-size: 55px !important;
  }

  .background-img 
  {
    border-radius: 111px;
    height: 429px;
    width: 279px;
  }
  #products .header-btn 
  {
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px 22px;
    border: 0 !important;
  }


  #products .header-btn:hover, 
  #contact .send-message-btn:hover,
  #single .add-to-cart:hover
  {
    background-color: #fff;
    color: #000;
    border: 1px solid #3f3f3f !important;
  }

  .product-price 
  {
    margin-top: -18px;
    font-weight:500;
  }

  #products img 
  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 250px;
  cursor: pointer;
  }

  #products 
  {
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  }

  .about-section-img 
  {
    border-radius: 44px;
    height: 465px;
    width: 360px;
  }

  #about 
  {
    height: auto;
    margin: 100px 0;
  }

  .about-heading 
  {
    font-size: 36px;
    color: rgb(0 88 0);
  }

  .about-heading .subtitle 
  {
    font-size: 18px !important;
    color: #000;
  }

  #contact 
  {
    height: auto;
    margin: 100px 0;
  }

  #contact .send-message-btn 
  {
    padding: 10px 20px;
    background-color: #000;
    border-radius: 34px !important;
  }

  #contact .contact-form
  {
    margin-top: 55px;
  }

  #single 
  {
    height: auto;
    margin: 100px 0 !important;
  }

  #single .stock
  {
    background-color: #000;
    color: #fff;
    padding: 12px;
  }

  #single .product-image
  {
    height: 305px;
    width: 319px; 
  }

  #single .product-preview-image 
  {
    height: 78px;
  }

  #single .add-to-cart
  {
    font-size: 25px;
    border: 1px solid #525252 !important;
    padding: 8px;
    margin-top: 86px !important;
    border-radius: 50px !important;
  }

  #single .quantity
  {
    margin: 0 125px !important;
  }

  #single .quantity,
  #single .plus,
  #single .minus
  {
    cursor: pointer;
    font-weight: 500 !important;
  }

  #single .add-to-cart-button
  {
    margin-top: 20px;
    padding: 13px 157px;
    background-color: #000 !important;
    width: 100% !important;
    border-radius: 50px !important;
  }

  #single figure img
  {
    cursor: pointer;
  }

  #single .product-description
  {
    font-size: 16px !important;
  }

  #login
  {
    margin: 50px 0;
  }

  #login form .form-control
  {
    width: 400px;
  }

  #login form .login-button
  {
    border-radius: 50px !important;
    padding: 11px;
    background-color: #000 !important;
    font-size: 17px;
  }

  #login .vector-bg img 
  {
    height: 525px !important;
  }

  #shop 
  {
    padding: 100px 5px;
  }

  #shop figure .shop-page-image
  {
    height: 190px !important;
    width: 190px !important;
    border-radius: 26px;    
    width: auto;
  }

  #shop nav ul .pagination-next-button,
  #shop nav ul .pagination-prev-button  
  {
    background-color: #000 !important;
    color: #fff !important;
    border: 0 !important;
  }

  #shop .apply-filter-button 
  {
    border-radius: 20px !important;
    border: 0 !important;
    padding: 8px;
  }

  footer 
  {
    height: auto;
    top: 0;
    margin-top: 100px;
  }
  